// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
hgroup img{
  float: right;
  height: 50px;
  background-color: $base3;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.headshot {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

dt {
  display: block;
  color: $sidebar-color;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
}
  
dd {
    margin-bottom: 30px;
    margin-left: 30px;
    a {
      text-decoration: none;
    }
    &:hover a{
      color: $sidebar-link-color;
      &:hover { color: $sidebar-link-color-hover; }
    }
}
